@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap');

.drop {
    cursor: pointer;
    display: block;
    width: 300px;
  }
 
.drop + input{
 display: none;
}

.drop + input + div{
  display:none;
}

.drop + input:checked + div{
  display:block;
}

.username {
   width: 90px;
   display: block;
   float: left;
}

.fromMsg {
    text-align: left;
}

.meMsg {
    text-align: right;
}

.titlebar {
    color: #040404;
    background-color:rgba(255, 255, 255, .5);
    background-color:rgba(255, 255, 255, 0.4);
    font-family: 'Lobster', sans-serif;
    border-color: rgba(0, 123, 255, 0.5);
    margin-top: 5px;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logout {
    font-family: 'Lobster', sans-serif;
    font-size: xx-large;
}

.btn-add-friend {
  float: right;
  color: #fff;
  background-color:rgba(255, 255, 255, .5);
  border-color: #17a2b8;
}

.btn-add-friend:hover {
  color: #fff;
  background-color:rgba(255, 255, 255, .5);
  border-color: #117a8b;
}

.btn {
  font-family: 'Lobster', sans-serif;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button--warning {
  font-family: 'Lobster', sans-serif;
  float: right;
  color: black;
  background-color: rgba(230, 162, 60, 0.5);
  border-color: #e6a23c;
}

.el-button.is-round {
  border-radius: 20px;
  padding: 6px 23px;
}

.el-button--success {
  font-family: 'Lobster', sans-serif;
  float: right;
  color: black;
  background-color: rgba(103, 194, 58, 0.5);
  border-color: #67c23a;
}

.el-button--danger {
  font-family: 'Lobster', sans-serif;
  float: right;
  color: black;
  background-color: rgba(245, 108, 108, 0.5);
  border-color: #f56c6c;
}

 *, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --none: rgba(255, 255, 255, 0);
  --black: #000;
  --bg: #f8f8f8;
  --grey: rgba(255, 255, 255, 0);
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --dblue: rgba(31, 123, 164, 0.5);
}

body {
   background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  background-image: url("../img/index.jpg");
  background-size:100% 100%;
  background-attachment:fixed;
}

.wrapper {
  position: relative;
  left: 50%;
  width: var(--wrapper);
  height: 800px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 75%;
  background: rgba(255, 255, 255, .5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .left {
  float: left;
  width: 37.6%;
  height: 100%;
  border: 1px solid var(--light);
  background: rgba(255, 255, 255, .5);
}

.container .left .top {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 29px;
}

.container .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.container .left input {
  float: left;
  width: 188px;
  height: 42px;
  padding: 0 15px;
  border: 1px solid var(--light);
  background: rgba(255, 255, 255, .5);
  border-radius: 21px;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
}

.container .left input:focus {
  outline: none;
}

.container .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid var(--light);
  background-color: var(--dblue);
  background-image: url("../img/name-type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 50%;
}

.container .left .people {
  margin-left: -1px;
  border-right: 1px solid var(--light);
  border-left: 1px solid var(--light);
  width: calc(100% + 2px);
}

.container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  cursor: pointer;
  background-color: var(--none);
}

.container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.container .left .people .person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.container .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: var(--grey);
  background-color: var(--none);
}

.container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--grey);
}

.container .left .people .person.active, .container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: var(--dblue);
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px);
}

.container .left .people .person.active span, .container .left .people .person:hover span {
  color: var(--none);
  background: transparent;
}

.container .left .people .person.active:after, .container .left .people .person:hover:after {
  display: none;
}

.container .right {
  position: relative;
  float: left;
  width: 62.4%;
  height: 100%;
}

.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background: rgba(255, 255, 255, .5);
}

.container .right .top span {
  font-size: 15px;
  color: var(--black);
}

.container .right .top span .name {
  color: var(--dark);
  font-family: 'Lobster', sans-serif;
  font-weight: 600;
}

.container .right .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 92px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--light);
  height: calc(100% - 48px);
  justify-content: flex-end;
  flex-direction: column;
}

.container .right .chat.active-chat {
  display: block;
  display: flex;
}

.container .right .chat.active-chat .bubble {
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.container .right .chat.active-chat .bubble:nth-of-type(1) {
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
}

.container .right .chat.active-chat .bubble:nth-of-type(2) {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.container .right .chat.active-chat .bubble:nth-of-type(3) {
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
}

.container .right .chat.active-chat .bubble:nth-of-type(4) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.container .right .chat.active-chat .bubble:nth-of-type(5) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.container .right .chat.active-chat .bubble:nth-of-type(6) {
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

.container .right .chat.active-chat .bubble:nth-of-type(7) {
  -webkit-animation-duration: 1.05s;
          animation-duration: 1.05s;
}

.container .right .chat.active-chat .bubble:nth-of-type(8) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.container .right .chat.active-chat .bubble:nth-of-type(9) {
  -webkit-animation-duration: 1.35s;
          animation-duration: 1.35s;
}

.container .right .chat.active-chat .bubble:nth-of-type(10) {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.container .right .write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid var(--light);
  background: rgba(255, 255, 255, .5);
  width: calc(100% - 58px);
  border-radius: 5px;
}

.container .right .write input {
  font-size: 16px;
  float: left;
  width: 350px;
  height: 40px;
  padding: 0 10px;
  color: var(--dark);
  border: 0;
  outline: none;
  background: rgba(255, 255, 255, .5);
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
}

.container .right .write .write-link.attach:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("../img/attachment.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container .right .write .write-link.smiley:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("../img/smiley.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container .right .write .write-link.send:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  margin-left: 11px;
  content: '';
  background-image: url("../img/send.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}

.container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}

.container .right .bubble.you {
  float: left;
  color: white;
  background-color: var(--dblue);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
}

.container .right .bubble.you:before {
  left: -3px;
  background-color: var(--dblue);
}

.container .right .bubble.me {
  float: right;
  color: var(--dark);
  background: rgba(255, 255, 255, .5);
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
}

.container .right .bubble.me:before {
  right: -3px;
  background: rgba(255, 255, 255, .5);
}

.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}

.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: var(--black);
}

.container .right .conversation-start span:before, .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: var(--light);
}

.container .right .conversation-start span:before {
  left: 0;
}

.container .right .conversation-start span:after {
  right: 0;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}